[Unit]
Description=Backup with Rclone
After=network-online.target
Wants=network-online.target

[Timer]
Unit=rclone-backup.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
