[Unit]
Description=Set bing wallpaper on desktop
After=network-online.target graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/scripts/bing-wallpaper
# User=cahian

[Install]
WantedBy=default.target
